streamlit==1.33.0
openai==1.24.0
pandas==2.0.2
pillow==10.3.0
requests==2.31.0
extra-streamlit-components==0.1.71
PyYAML==6.0.1
openpyxl==3.1.2
PyPDF2==3.0.1
langchain==0.1.17
langchain-community==0.0.36
tiktoken==0.6.0
faiss-cpu==1.8.0
docx2txt==0.8